body {
  background-color: #000;
}

h1 {
  color: darkgrey !important;
  font-size: 80px;
  padding: 15px;
  margin: 10px;
  text-align: center;

}

#container {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.greendragon {

  margin: auto;
  width: 80%;
  height: 80%;

}
